html(lang='en')
	include common/head
	body
		include common/global-header
		.content
			.container
				.row
					.span12
						.hero
							h3
								span Privacy Policy
							p
						.row
							.span12
								p
									| Your privacy is of paramount importance to #{DOMAIN_NAME}. This policy applies to all products and services offered by #{DOMAIN_NAME}.
								p Information we gather from you:
								ul
									li
										| Because the #{DOMAIN_NAME} Service houses your website statistics on our servers, you must register for a #{DOMAIN_NAME} account. The registration process asks for a password and email address.
									li
										| When you log into the Service, our servers automatically record information that your browser sends whenever you visit a website. These server logs may include information such as your web request, Internet Protocol address, browser type, browser language, the date and time of your request, and one or more cookies that may uniquely identify your browser.
									li
										p
											| When you send email or other communication to #{DOMAIN_NAME}, we may retain those communications in order to process your inquiries, respond to your requests and improve our services.
								p
									| If you install #{DOMAIN_NAME} code snippet on your website, 
									b
										| we DO NOT store IP address or any other personally identifable information of your website visitors or users
									| . In case you (or your website visitors or users) want to opt out of tracking by #{DOMAIN_NAME}, please see our 
									a(href='/opt-out') Opt-out page
									| .
								p
									| #{DOMAIN_NAME} will not share your personal information without your consent or unless required by law.
								p
									| By the nature of our Service, #{DOMAIN_NAME} will gather non-personally identifiable statistics about the usage of your website and store that information. #{DOMAIN_NAME} will not share your website statistics without your consent.
								p
									| #{DOMAIN_NAME} only processes personal information for the purpose of providing, improving, ensuring the delivery of, and developing new services to users.
								p
									| If #{DOMAIN_NAME} becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will provide notice before personal information is transferred and becomes subject to a different privacy policy.
								p
									| We may share with third parties certain pieces of aggregated, non-personal information such as the number of sites using #{DOMAIN_NAME}, for example. Such information does not identify you individually.
								p
									| We restrict access to personal information to employees, contractors, and agents who need to know that information in order to operate, develop, or improve our services. These individuals are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations.
								p
									| This Privacy Policy applies to websites and services that are owned and operated by #{DOMAIN_NAME}. We do not exercise control over the sites that may be linked from our website. These other sites may place their own cookies or other files on your computer, collect data or solicit personal information from you.
								p
									| #{DOMAIN_NAME} may change its Privacy Policy from time to time and at #{DOMAIN_NAME}'s sole discretion. However, your rights will not be reduced without your explicit consent.
								p Last updated: December 20, 2012
								
		include common/global-footer
