!!! 5
html(lang='en')
	include ../common/head
	body
		include ../common/global-header
		.content
			.container
				.row
					.span12
						.hero
							h3
								span Terms of Service
							p
						.row
							.span12
								p
									| #{DOMAIN_NAME} was created by, and is a Service of, 
									a(href='http://www.#{DOMAIN_HOST}/') #{DOMAIN_HOST}.
								p
									| The following are terms of accessing and/or using the #{DOMAIN_NAME} website and using the #{DOMAIN_NAME} service. 
									| By accepting the terms of the Agreement below and/or using the service, you are stating that you agree to be bound by all terms without modification, conditions, or notices.
								ul(style='font-size:14px')
									li
										strong MEMBER RESPONSIBILITIES
										| : To register for the Service, you must complete the registration process by providing #{DOMAIN_NAME} with current, complete and accurate information as required by the registration form. 
										| You are solely responsible for any use and all activities that occur under your account. You are responsible for safeguarding the confidentiality of your password(s) and user name(s) issued to you by #{DOMAIN_NAME} 
										| and for any use or misuse of your account resulting from any third-party using a password or user name issued to you by #{DOMAIN_NAME}. 
										| You agree to immediately notify #{DOMAIN_NAME} of any unauthorized use of your account or any other breach of security known to you. 
										| You agree to let #{domain_name} use your organization's logo in its customer list and at other places on its website (including but not limited to #{domain}).
									li
										strong INDEMNIFICATION
										| : You agree to indemnify, hold harmless and defend #{DOMAIN_NAME}, its contractors, its licensors, 
										| and their respective directors, officers, employees and agents, at your expense, from and against any and all third-party claims, actions, proceedings, and suits and expenses, including attorneys' fees, 
										| arising from your use of the #{DOMAIN_NAME} Tools, the Service, and the website, including but not limited to your violation of this Agreement.
									li
										strong THIRD PARTIES
										| : If you allow a third party access to the Service through your account, you shall ensure that said third party is bound by and abides by the terms of this Agreement. 
										| All provisions in this Agreement, including but not limited to warranty disclaimers, indemnity, limitations of liability, and proprietary rights, are applicable to the Third Party.
									li
										strong DISCLAIMER OR WARRANTIES
										| : The #{DOMAIN_NAME} Service is provided 'as is'.	The #{DOMAIN_NAME} and its contractors hereby disclaim all warranties of any kind, expressed or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose, and non-infringement. 
										| Neither The #{DOMAIN_NAME} nor its contractors makes any warranty that the Client, Service, or website will be error free, free of viruses or other harmful components, or that access thereto will be continuous or uninterrupted. 
										| You understand that the use of The The #{DOMAIN_NAME} Service, and the website is at your own discretion and risk.
									li
										strong LIMITATION OF LIABILITY
										| :	#{domain_name} will not be liable to you or any third-party claimant for any indirect, special, punitive, consequential (including, without limitation, lost profits or lost data collected through the service and/or use of the the #{DOMAIN_NAME}), 
										| or incidental damages, whether based on a claim or action of contract, warranty, negligence, strict liability, or other tort, breach of any statutory duty, indemnity or contribution, or otherwise, even if possible client, the	has been advised of the possibility of such damages. 
										| The exclusion contained in this paragraph shall apply regardless of the failure of the exclusive remedy provided in the following paragraph.	Some states do not allow the limitation or exclusion of liability for incidental or consequential damages, so the limitations or exclusions in this and the foregoing paragraph may not apply to you.
										br
										| #{domain_name}'s and its contractors' total cumulative liability to you or any other party for any loss or damages resulting from any claims, demands, or actions arising out of or relating to this Agreement shall not exceed $1.
									li
										strong SERVICE LEVELS
										| : #{DOMAIN_NAME} does not guarantee the Service will be operable at all times or during any down time, including but not limited to Internet Service Provider outages, equipment	failures, scheduled maintenance, or force majeur.
									li
										strong PROPRIETARY RIGHTS NOTICE
										| : The Service, which includes but is not limited to all intellectually property rights in the Service, will always be the property of #{DOMAIN_NAME}.	
										| You may use the #{DOMAIN_NAME} Service subject to acceptance of the terms of this Agreement.
										ul
											li You will not, nor will you, allow any third party to reverse engineer and/or create derivatives of the #{DOMAIN_NAME}, using any method possible.
											li You will not, nor will you, allow any third party to modify the #{DOMAIN_NAME} in any way.
											li You will use the #{DOMAIN_NAME} Service solely for your commercial use and will not make the #{DOMAIN_NAME} available for any type of external service such as, but not limited to, an application service provider.
									li
										strong TERMINATION
										| :	The #{DOMAIN_NAME} Team may terminate the Service and/or website access at any time and for any reason without notice.	If you wish to terminate this Agreement or your service, you may simply stop using the Service or stop accessing the website. 
										| However, although this agreement may terminate between the #{DOMAIN_NAME} Team and you, some provisions of this Agreement shall still be in effect, including, without limitation, warranty disclaimers, indemnity, limitations of liability, and proprietary rights.
									li
										strong MODIFICATIONS
										| :	The #{DOMAIN_NAME} Team reserves the right, at its sole discretion, to modify or replace any part of these terms. 
										| It is your responsibility to check these Terms of Service periodically for changes. 
										| Your continued use of the #{DOMAIN_NAME} service or access to the #{DOMAIN_NAME} website following the changes in these Terms constitutes acceptance of those changes.
									li
										strong MISCELLANEOUS
										| : #{DOMAIN_NAME} shall be excused from performance hereunder to the extent that performance is prevented, delayed or obstructed by causes beyond its reasonable control. 
										| This Agreement represents the complete agreement between you and #{DOMAIN_NAME} concerning its subject matter and supersedes all prior agreements and representations between the parties. 
										| If any provision of this Agreement is held to be unenforceable for any reason, such provision shall be reformed to the extent necessary to make it enforceable to the maximum extent possible so as to affect the intent of the parties, 
										| and the remainder of this Agreement shall continue in full force and effect. 
										| This Agreement shall be governed by and construed under the laws of the state of India without reference to its conflict of law principles. 
										| In the event of any conflicts between foreign law, rules, and regulations, and Indian law, rules, and regulations, Indian law, rules, and regulations shall prevail and govern. 
										| Each party agrees to submit to the exclusive and personal jurisdiction of the courts located in New Delhi, India.	The United Nations Convention on Contracts for the International Sale of Goods and the Uniform Computer Information Transactions Act shall not apply to this Agreement.	
										| A waiver of any default is not a waiver of any subsequent default. You may not assign or otherwise transfer any of your rights hereunder without #{DOMAIN_NAME}'s prior written consent and any such attempt is void.	
										| The relationship between #{DOMAIN_NAME} and you is not one of a legal partnership relationship, but is one of independent contractors. 
										| This Agreement will be binding upon and will inure to the benefit of the parties, their successors and assigns of the parties hereto.
										
								p Last updated: December 20, 2012
								
		include ../common/global-footer
